# ---------------------------
# IDE 配置文件（Visual Studio Code）
# ---------------------------
.vscode/
# 忽略 . 开头的目录
.*

# ---------------------------
# 编译生成的可执行文件（ELF）
# ---------------------------
*.elf
*.out  

# ---------------------------
# 通用编译中间文件
# ---------------------------
*.o 
*.a           
*.so       
*.d       

# ---------------------------
# 编译生成的目录
# ---------------------------
# 忽略全局所有 libs 和 obj 目录
**/libs/
**/obj/